@import url(searchbar.css);
@import url(horizontalseparator.css);
@import url(searchitem.css);
@import url(searchresults.css);

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

a {
	text-decoration: none;
}
